<IfModule mod_rewrite.c>
    RewriteEngine   On

# Set browser and version environment variables based on the visitor's browser
# http://v4.thewatchmakerproject.com/blog/no-more-css-hacks-browser-sniffing-with-htaccess/
# NOTE: this might not be the most perfect way of getting the browser info, but it's a start
    SetEnvIfNoCase  User-Agent (Opera|Chrome|Version|Firefox|MSIE)[\/|\s](\d+)\. browser_type=$1 browser_version=$2
    SetEnvIf        browser_type Version    browser_type=Safari
    SetEnvIf        browser_type MSIE       browser_type=IE

# Add cache info to $_SERVER because apache_request_headers() may not exists
    SetEnvIfNoCase ^If-Modified-Since$  "(.+)"  HTTP_IF_MODIFIED_SINCE=$1
    SetEnvIfNoCase ^If-None-Match$      "(.+)"  HTTP_IF_NONE_MATCH=$1

# default handler
    RewriteCond     %{REQUEST_FILENAME} !-f
    RewriteCond     %{REQUEST_FILENAME} !-d
    RewriteCond     %{REQUEST_URI}      !/public/img/

    RewriteRule     ^(.*)$  index.php?url=$1    [QSA,PT,L]
</IfModule>

# add compression
# http://www.techiepark.com/tutorials/how-to-enable-gzip-compression-in-apache-server-to-speed-up-website/
<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE

# Don’t compress
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
    SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary

#Dealing with proxy servers
    <IfModule mod_headers.c>
        Header append Vary User-Agent
    </IfModule>
</IfModule>
