@import '../global.less';
@import '../zebra.less';

div.notready {
    padding: 0.3em;
    margin: 0 auto 1em;
    width: 20em;
    border: 1px solid black;
    background: #E9B15C;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

div.ismdt {
    text-align: right;
}

.menu-sections() {
    margin-bottom: 0.5em;
}

div.biz_info {
    .menu-sections();
    div.name { font-size: 2em; }
}

div.links {
    .menu-sections();
}

div.navbar {
    .menu-sections();

    border: 1px solid silver;
    text-align: center;
    padding: 5px 3px;

    div.nav_item {
        .display-inline-block;
        font-size: 0.8em;
    }
}

div.stickynavbar {
    div.navbar;
    padding-left: 0;
    padding-right: 0;

    position: fixed;

    top: 0px;
    background-color: white;
    z-index: 1;
}

// IE hack - a copy/past from .ie-position-fix-top
* html div.stickynavbar {
    position: absolute;
    bottom: auto;
    top: ~'expression(eval(document.documentElement.scrollTop))';
}

// IE hack - a copy/past from .ie-position-fix-top
* html,* html body {
    background-image: url(about:blank);
    background-attachment: fixed;
}

div.menu {
    .menu-sections();

    div.info {
        width: 100%;
        text-align: center;
        padding: 0.5em 0;

        div.h_name {
            font-size: 1.3em;
            padding: 0 0.5em;
        }

        div.h_notes {
            font-size: 0.8em;
            padding: 0 0.5em;
        }
    }

    div.group {
        padding: 0.25em;

        div.g_panel {
            float: left;
            text-align: right;
            width: 4em;
            font-size: 0.8em;

            div.forkit {
                span { vertical-align: top; }

                img {
                    .img-opacity(0.35);

                    &:hover,
                    &.forkit {
                        .img-opacity(1.0);
                    }
                }
            }

            div.after { display: none; }
        }

        div.g_info {
            margin-left: 4em;

            img.item_attr
            {
                margin: 0px 0.5em;
                vertical-align: top;
                width: 16px;
                height: 16px;
            }

            div.g_info1 {
                span.label { /*empty*/ }
                span.price { float: right; }
            }

            div.g_info2 {
                div.notes { font-size: 0.8em; }
                div.empty { display: block !important; }
            }
        }
    }
}

