div.err_msgs{
    color: red;
    text-align: center;
}
img.menu{
    padding: 0.2em;
}
div.heading{
    font-size: 1.2em;
    background-color: silver;
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.2em;
}
div.subheading{
    font-size: 0.9em;
    background-color: silver;
    width: 100%;
    padding: 0.2em;
    margin-bottom: 0.2em;
    font-weight: bold;
}
div.data{
    padding: 0.2em;
}
textarea.address,
textarea.phone_numbers,
textarea.hours{
    width: 40em;
}
div.menu div.data{
    border-left: 2px solid silver;
    margin-left: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
}
div.menu_group{
    border-left: 2px solid silver;
    margin-left: 0.3em;
    padding-left: 0.3em;
}
div.menu_ctrl{
    float: right;
}
span.latlong_info,
span.menu_group_info
{
    font-size: small;
}
div.new_imgs
{
    max-height: 18em;
    overflow-y: auto;
    overflow-x: hidden; /* prevent horizontal scrollbar */
    padding-right: 20px; /* add padding to account for vertical scrollbar */
}
