div.pg_bottom{
    margin-bottom: 10px;
}
div.err_msgs{
    color: red;
    text-align: center;
}
img.menu{
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}
div.heading{
    font-size: 18px;
    background-color: silver;
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 3px;
}
div.subheading{
    font-size: 14px;
    background-color: silver;
    width: 100%;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}
div.data{
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}
textarea.address,
textarea.phone_numbers,
textarea.hours{
    width: 300px;
}
div.menu div.data{
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: silver;
    margin-left: 5px;
    padding-left: 5px;
}
div.menu_group{
    border-left-style: solid;
    border-left-width: 2px;
    border-left-color: silver;
    margin-left: 5px;
    padding-left: 5px;
}
div.menu_ctrl{
    float: right;
}
span.latlong_info,
span.menu_group_info
{
    font-size: small;
}
