@import '../global.less';

div#thanks{
    border: 1px solid black;
    width: 30em;
    margin: 0 auto 1em;
    padding: 0.3em;
    font-size: 0.8em;
    text-align: center;
}

div#new_menu {

    width: 32em;

    span#err {
        color: red;
        font-weight: bold;
    }

    div.group_new {
        margin-bottom: 1em;

        div.header {
            background-color: silver;
            padding: 0.3em;
            font-weight: bold;
        }

        div.hint {
            font-size: 0.8em;
            margin-top: 0.3em;
        }

        div.new_site {
            margin-top: 0.3em;

            input { width: 99%; }
        }

        div.new_img {
            margin-top: 0.3em;

            input {
                width: 95%;
                *width: 100%;
            }
        }
    }


    input.button {
        margin-top: 1em;
    }
}
