input.save
{
    margin-bottom: 0.5em;
}
textarea.user_comment
{
    width: 50em;
    height: 20em;
}
div.template
{
    display: none;
}

div.taggits {
    margin-top: 0em;
    margin-bottom: 0em;
}
div.tag_group {
    font-size: 0.7em;
    padding: 0.2em 1em !important;
    margin-top: 0.5em;
    margin-right: 1em;
}
