.template
{
    display: none;
}

div.group
{
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: green;
    border-left-color: green;
    border-bottom-color: green;
    border-top-color: green;
}

div.item
{
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: red;
    border-left-color: red;
    border-bottom-color: red;
    border-top-color: red;
    margin-left: 20px;
}

input.g_name
{
    
}

input.g_notes
{
    
}

input.i_item
{
    
}

input.i_notes
{
    
}

input.i_price
{
    
}

input.i_hint
{
    
}