div.ismdt {
    text-align: right;
}
div.menu {
    margin-bottom: 0.5em;
}
div.heading{
    background-color: silver;
    width: 100%;
    text-align: center;
}
div.h_name{
    font-size: 1.3em;
    padding-top: 0.3em;
}
div.h_notes{
    font-size: 0.8em;
    padding-bottom: 0.6em;
    padding-top: 0.3em;
}
div.group {
    padding: 0.2em;
}
div.item {
    display: inline;
    float: left;
}
div.price {
    float: right;
    font-size: 1em;
}
div.notes {
    font-size: 0.8em;
    display: list-item;
    list-style-position: inside;
    padding: 0.3em;
}
div.clear {
    clear: both;
}
