div#new_menu
{
    width: 32em;
}

span#msg
{
    color: black;
    font-size: 2em;
}

fieldset#menu_urls,
fieldset#menu_files
{
    border: 1px solid black;
    padding: 0.3em;
}

input.file
{
    width: 100%;
}

input.site_menu
{
    width: 30em;
}

input#btnAddMore
{
    margin-top: 1em;
}
