div.ismdt {
    text-align: right;
}
div.biz_info {
    margin-bottom: 0.5em;
}
div.biz_info div.name {
    font-size: 2em;
}
div.links {
    margin-bottom: 0.5em;
}
div.menu {
    margin-bottom: 0.5em;
}
div.heading{
    background-color: silver;
    width: 100%;
    text-align: center;
}
div.h_name{
    font-size: 1.3em;
    padding-top: 0.3em;
}
div.h_notes{
    font-size: 0.8em;
    padding-bottom: 0.6em;
    padding-top: 0.3em;
}
div.group {
    padding: 0.2em;
}
div.g_panel {
    text-align: right;
    float: left;
    width: 5em;
    margin-left: -5.8em;
    font-size: 0.8em;
}
div.g_info {
}
div.label,
div.comments,
div.pictures {
    display: inline;
    float: left;
    margin-left: 0.5em;
}
div.price {
    float: right;
    font-size: 1em;
}
div.notes {
    font-size: 0.8em;
    display: list-item;
    list-style-position: inside;
    padding: 0.3em;
}
div.empty {
    display: block !important;
}
div.clear {
    clear: both;
}

img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

div.forkit img {
    opacity: 0.35;
}

div.forkit img:hover,
div.forkit img.forkit {
    opacity: 1.0 !important;
}

div.forkit > span
{
    vertical-align: middle;
}

div.after
{
    display: none;
}
