@import '../global.less';

div#thanks{
    border: 1px solid black;
    width: 30em;
    margin: 0 auto 1em;
    padding: 0.3em;
    font-size: 0.8em;
    text-align: center;
}

div#new_menu {

    width: 32em;

    span#err {
        color: red;
        font-weight: bold;
    }

    div.group_new {
        margin-bottom: 1em;

        div.header {
            background-color: silver;
            padding: 0.3em;
            font-weight: bold;
        }

        div.hint {
            font-size: 0.8em;
            margin-top: 0.3em;
        }

        input.site_menu {
            margin-top: 0.3em;
            width: 99%;
            font-size: 1.1em;
        }

        input.file {
            margin-top: 0.3em;
            width: 95%;
            *width: 100%; // for IE only
            text-align: left;
            font-size: 1.1em;
        }

        input#btnAddMore {
            display: block;
        }
    }

    input.button {
        margin-top: 1em;
    }
}

// Smartphones (portrait and landscape)
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
{
    div#new_menu {
        width: 18em;
    }
}
