@import '../global.less';
@import '../zebra.less';

div.notready {
    padding: 0.3em;
    margin: 0 auto 1em;
    width: 20em;
    border: 1px solid black;
    background: #E9B15C;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

div.search {
    text-align: center;

    label {
        .display-inline-block(bottom);
        text-align: left;
        margin-right: 0.2em;
    }

    span.hint {
        font-size: 0.75em;
        display: block;
    }

    input {
        font-size: 1.1em;

        &.query{ width: 15em; }
        &.location{ width: 10em; }
    }

    button {
        font-size: 1.1em;
        width: 7em;
    }
}

.menu-sections() {
    margin-bottom: 0.5em;
}

div.biz_info {
    .menu-sections();
    table {
        width: 100%;
    }
    td.spacer {
        padding-bottom: 0.8em;
    }
    .row {
        margin-bottom: 0.8em;
    }
    p {
        font-size: 0.85em;
    }
    .title {
    }
    .name {
        color: @clr_default_red;
        font-size: 1.5em;
        font-weight: bolder;
    }
    .details {
    }
    .address {
        .row;
    }
    .phone {
    }
    .hours {
    }
}

div.ismdt {
    margin-bottom: 1em;
}

@sidebar_width: 15em;
@sidebar_padding: 1em;

div.themenu {

    padding-left: 0.5em;
    padding-right: 0.5em;
}

.img_resize(@size)
{
    height: @size;
    width: @size;
    max-height: @size;
    max-width: @size;
}

div.fixed { // sticky nav does not work on IE
    position: fixed;
    top: 0;
}

.rounded-corner-top(@radius)
{
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.rounded-corner-top()
{
    .rounded-corner-top(8px);
}

ul.navbar {
    @bgclr: #d9d7d6;
    @size: 1.2em;

    .rounded-corner-top();
    border: 2px solid darken(@bgclr, 15%);
    background-color: @bgclr;
    width: @sidebar_width;
    float: left;

    li.nav_header {
        border-bottom: 3px solid darken(@bgclr, 15%);
        padding: 0.3em 1em;

        img {
            .img_resize(@size);
            padding-right: 0.3em;
        }

        span {
            font-size: @size;
        }
    }

    li.nav_item {
        @left_space = 1em;
        @item_size: @size * 0.85;

        background-color: white;
        font-size: @item_size;
        padding: 0.2em 0.2em 0.2em @left_space;

        img {
            .img_resize(@item_size);
            padding-right: 0.3em;
            .display-inline-block();
        }

        //p {
        //    text-indent: -(@left_space + 0.5em);
        //    margin-left: @left_space + 0.5em;
        //}
    }
}

ul.menu {
    @bgclr: @clr_default_red;
    @size: 1.2em;

    .rounded-corner-top();
    border: 2px solid darken(@bgclr, 15%);
    background-color: @bgclr;
    margin-bottom: 0.5em;
    margin-left: @sidebar_width + @sidebar_padding;

    li.menu_header {
        border-bottom: 3px solid darken(@bgclr, 15%);
        padding: 0.3em 1em;

        color: white;
        font-weight: bold;

        span.name {
            font-size: @size;
        }

        span.link_imgs {
            float: right;
            font-size: @size * 0.6;
            *margin-top: @size * -1.2;
            *margin-right: 1em;
        }
    }

    li.menu_notes,
    li.menu_items {
        background-color: white;
        padding: 0.3em 1em;
    }

    li.menu_notes {
        font-size: @size * 0.75;
        font-weight: bold;
        color: black;
        text-align: center;
        padding: 0.3em 1em 0;
    }

    table.menu_items {
        width: 100%;

        td.item_panel {
            width: 4em;
        }

        td.item_price {
        }

        td.item_info1 {
            span.goright {
                float: right;
                text-align: right;
            }
        }

        td.item_info2 {
            font-size: @size * 0.75;
        }
    }

}
