@import '../global.less';
@import '../table.less';

div.search
{
    text-align: center;
    margin-bottom: 0.8em;

    form#searchit {
        label {
            .display-inline-block(bottom);
            text-align: left;
            margin-right: 0.2em;
        }

        span.hint {
            font-size: 0.75em;
            display: block;
        }

        input {
            font-size: 1.1em;

            &.query{ width: 15em; }
            &.location{ width: 10em; }
        }

        button {
            font-size: 1.1em;
            width: 7em;
        }
    }

}

div.found {
    margin: 0.8em 0;

    li {
        vertical-align: top;

        margin-bottom: 0.8em;

        span.place_no {
            .display-inline-block(top);
            width: 1.5em;
        }

        div.info {
            .display-inline-block(top);

            span.name{ font-weight: bold; }

            span.addy,
            span.hours{
                font-size: 0.8em;
            }
        }
    }
}
