input.txtLocalFile{
    width: 40em;
}

input.txtRemoteSite{
    width: 30em;
}

button,
a.btnDownload{
    font-size: 0.8em !important;
    padding: 0.3em 0.5em !important;
}
table.tblDefault{
    margin-bottom: 0.5em;
}
