@import '../global.less';
@import '../table.less';

input.txtLocalFile{
    width: 40em;
}

input.txtRemoteSite{
    width: 30em;
}

table.tblDefault {
    margin-bottom: 0.5em;

    td {
        vertical-align: top;

        &.ts { font-size: 0.8em; }
    }
}
