<IfModule mod_rewrite.c>
    RewriteEngine   on

# handle www.site.com/index.html, index.htm, and index.php
    RewriteRule     ^index\.(html?|php)$        public/home/main    [L]

# default handlers
    RewriteRule     ^$      public/home/main    [L]
    RewriteRule     (.*)    public/$1           [L]
</IfModule>
