<IfModule mod_rewrite.c>
# Update upload size
# TODO: update php.ini file -- 30M is random... choose a better value
    #php_value   post_max_size           30M
    #php_value   upload_max_filesize     30M

# start rewrite engine
    RewriteEngine   on

# handle localhost access to trojan site
# TODO: fix the trojan section to be more like unittests
    RewriteCond     %{REMOTE_ADDR}  ^127\.0\.0\.1$
    RewriteRule     ^trojan/(.*)    public/trojan/$1    [L]

# handle localhost access to unit test
    RewriteCond     %{REMOTE_ADDR}  ^127\.0\.0\.1$
    RewriteRule     ^unittest       -                   [L]

# handle www.site.com/index.html, index.htm, and index.php
    RewriteRule     ^index\.(html?|php)$        public/home/main    [L]

# modified search handler
# http://www.gogomenu.com/menu/search?query=shrimp&location=92782 -> http://www.gogomenu.com/menu/search/92782/shrimp
    RewriteCond     %{QUERY_STRING}     ^query=&location=(.*)$
    RewriteRule     ^menu/search$       http://%{HTTP_HOST}/menu/search/%1/?        [R=301,L]

    RewriteCond     %{QUERY_STRING}     ^query=(.*)&location=$
    RewriteRule     ^menu/search$       http://%{HTTP_HOST}/menu/search/00000/%1?   [R=301,L]

    RewriteCond     %{QUERY_STRING}     ^query=(.*)&location=(.*)$
    RewriteRule     ^menu/search$       http://%{HTTP_HOST}/menu/search/%2/%1?      [R=301,L]

# default handlers
    RewriteRule     ^$      public/home/main    [L]
    RewriteRule     (.*)    public/$1           [L]
</IfModule>
