@import '../global.less';

div.msg
{
    
}
span.err
{
    color: red;
}
span.header
{
    font-weight:bold;
}
input.to
{
    width: 200px;
}
input.subject
{
    width: 200px;
}
textarea.message
{
    width: 500px;
}
