@import 'global.defines.less';

.pg_center() {
    margin: 0 auto;

    padding-left: 0.5em;
    padding-right: 0.5em;
}

.pg {
    .max-width(@g_max_page_width_em, @g_max_page_width_px);
    .pg_center();
}

.pg_max(@width_em, @width_px) {
    .max-width(@width_em, @width_px);
    .pg_center();
}

.pg_bottom {
    margin-bottom: 0.5em;
}

a:link,
a:visited {
    text-decoration:none;
    color: black;
}

a.showlink:link,
a.showlink:visited {
    border-bottom: 1px dotted;
}

div#header {
    background-color: @clr_default_grey;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    a:link,
    a:visited {
        color: white;
    }

    div#nav {
        float: right;

        a.nav {
            font-size: 0.8em;
        }
    }

    div.welcome {

        // default logo
        div.logo {
            margin: 0 !important;
            padding: 0 !important;

            width: 139px;
            height: 48px;

            background: url('/img/logo.mini.jpg') no-repeat center;
        }

        div.nologo { height: 48px; }

        // Smartphones (portrait and landscape)
        @media only screen
            and (max-device-width : 480px)
        {
            div.logo {
                width: 128px;
                height: 44px;

                background: url('/img/logo.mini.smartphone.jpg') no-repeat center;
            }

            div.nologo { height: 44px; }
        }
    }
}

div.myaddthis {
    .display-inline-block();
    width: 15em;
    margin-bottom: 1em;
}

div#footer {

    padding-bottom: 1.5em;

    div.links {
        font-size: 0.8em;
        float: right;

        a { margin-left: 1em; }
    }
}

pre {
    font-family: 'Courier New',Courier,monospace;
    text-align: left;
    font-size: 0.8em;
}

/************************************************************
 *
 * Clear fix
 * http://css-tricks.com/snippets/css/clear-fix/
 *
 ************************************************************/

/* float clearing for everyone else */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

