@import 'global.defines.less';

.pg_center() {
    margin: 0 auto;

    padding-left: 0.5em;
    padding-right: 0.5em;
}

.pg {
    .max-width(@g_max_page_width_em, @g_max_page_width_px);
    .pg_center();
}

.pg_max(@width_em, @width_px) {
    .max-width(@width_em, @width_px);
    .pg_center();
}

.pg_bottom {
    margin-bottom: 0.5em;
}

a:link,
a:visited {
    text-decoration:none;
    color: black;
}

div#header {
    background-color: @clr_default_grey;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;

    a:link,
    a:visited {
        color: white;
    }

    div#nav {
        text-align: right;
        margin-bottom: -1em;
        _margin-bottom: 0em; /* no margin-bottom for IE */

        a.nav {
            font-size: 0.8em;
        }
    }

    div.welcome {
        img {
            margin: 0px;
        }
        div.nologo { height: 48px; }
    }
}

div.myaddthis {
    .display-inline-block();
    width: 15em;
    margin-bottom: 1em;
}

div#footer {

    padding-bottom: 1.5em;

    div.links {
        font-size: 0.8em;
        float: right;

        a { margin-left: 1em; }
    }
}

pre {
    font-family: 'Courier New',Courier,monospace;
    text-align: left;
    font-size: 0.8em;
}

/************************************************************
 *
 * Clear fix
 * http://css-tricks.com/snippets/css/clear-fix/
 *
 ************************************************************/

/* float clearing for everyone else */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

