table.tblDefault
{
    border-style: solid;
    border-width: 1px;
}

table.tblDefault thead td
{
    font-weight: bold;
    background-color: silver;
}

table.tblDefault td
{
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

